@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

body {
  font-family: sans-serif;
  background-color: #353741;
}

h1 {
  color: #eff4f7;
  text-align: center;
}

.bar-chart-wrapper {
  display: flex;
  justify-content: center;
}

.bar-chart {
  background-color: #eff4f7;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
}

.bar-chart .label {
  font-family: "Nunito", sans-serif;
}

.bar-chart .bar {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.svg-container {
  background-color: blanchedalmond;
}

.pie-chart-container {
  background-color: #7583a2;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.line-chart-wrapper {
  display: flex;
  justify-content: center;
}

.line-chart {
  background-color: #eff4f7;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
}
